/WebAPI/src/WebAPI/bin
/WebAPI/src/WebAPI/obj
/WebAPI/src/WebAPI/wwwroot
/WebAPI/src/WebAPI/project.lock.json
/Socrates-User-Client/e2e
/Socrates-User-Client/node_modules
src/WebAPI/Properties/PublishProfiles/publish-module.psm1 
